streamlit
pandas
streamlit-gsheets-connection
openpyxl
xlsxwriter

db-dtypes
google-cloud-bigquery
google-auth



deep-translator
googletrans==4.0.0-rc1
wordcloud
matplotlib
google-cloud-bigquery-storage
db-dtypes











